/* PAGE */

body {
  background-color: #d9e9ff;
}

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}

.collectibles-container {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.collectible-back {
  /* flex-basis: 175px; */
  width: 50%;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collectible-front, .collectible-back img {
  /* flex-basis: 175px; */
  margin: 25px;
  border-radius: 25px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.collectible-title {
  font-size: 2em;
  margin-bottom: 10px;
}

.collectible-info {
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  width: 80%;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin: 10px;
  padding: 5px 20px;
}

/* NAVBAR */

.simple-navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  height: 75px;
  margin: 0;
  list-style-type: none;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  font-size: 1em;
  letter-spacing: 2px;
}

.simple-navbar a {
  text-decoration: none;
  color: #FFF;
}

.navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-item {
  padding: 0 25px;
}

#logo {
  padding: 0 5px;
}

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  /* font-weight: bold; */
  text-transform: none;
}

/* .navbar .navbar-right {
  float: right;
} */

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

.logo-image {
  width: 50px;
}

.buy-sell-buttons {
  display: flex;
}

.collectible-button {
  padding: 20px 25px;
}

.create-collectible-form {
  justify-content: center;
  width:100%;
  padding: 0 300px;
}

.collectible-back {
  justify-content: center;
  width:100%;
}

.my-collectibles {
  justify-content: space-between;
  width:100%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 20px;
}

.collectibles-stream {
  display: flex;
  overflow-x: auto;
  margin-bottom: 100px;
  margin-left: 100px;
}

.home-container {
  overflow-x: auto;
}

.logo-text {
  padding-left: 1px;
}

.create-collectible-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #B743FF;
    width: 90%;

}

.create-collectible-field {
  margin-top: 25px;
}

h2 {
  padding-left: 50px;
}

.collectibleView {
  padding: 10px;
}
